#root {

  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.movierow {
  transition: 0.7s ease;
  display: inline-flex;
  min-height: max-content;
  max-height: max-content;
  padding-inline: 10px;
  padding-bottom: 10px;
}

.moviebox {
  max-width: 350px;
  display: inline-flex;
}


.movieboxWithin,
.movieboxWithinBack {
  height: inherit;
  background-color: whitesmoke;
  border: 1px solid grey;
  backface-visibility: hidden;
}

.moviebox:hover .movieboxcontainer {
  transform: rotateY(180deg);
}

.movieboxcontainer {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.movieimage {
  padding-top: 5px;
  width: 175px;
  border-radius: 8px;
  height: 225px;
  transition: 1s ease;
}


.cardlabel {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.movieinput {
  height: 32px;
}

.moviecard {
  width: 400px;
  height: 500px;
  margin: 1rem auto;
  perspective: 1000px;
  cursor: pointer;
}

.moviecard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}


.moviecardClicked .moviecard-inner {
  transform: rotateY(180deg);
}

.moviecard-front,
.moviecard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.moviecard-front {
  background: whitesmoke;
  border: 1px solid #e5e7eb;
  overflow: auto;
  word-wrap: break-word;
}

.moviecard-back {
  background: wheat;
  color: grey;
  transform: rotateY(180deg);
  align-content: center;
  overflow: auto;
  word-wrap: break-word;
}

.moviecardbutton {
  max-width: 55%;
  min-width: 55%;
  word-wrap: break-word;
  padding-bottom: 5px;
  background-color: rgba(79, 62, 254, 0.1);
  align-content: center;

}

.moviecardactorlist {
  padding-bottom: 10px;
}

/* 

.grow{
  
  } */

.movieimage:hover {
  width: 350px;
  height: 450px;
  transition: 1s ease;
  position: relative;

}

.fetchbutton {
  margin-left: 30px;
}

.homelabelleft {
  margin-right: 30px;
  font-size: 32px;
}

.banner {
  display: inline;
}

.topnav {
  background-color: #1a1a1a;
  overflow: hidden;
  width: 100vw;
  margin-bottom: 10vh;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.bloat {
  background-color: red;
  width: 100%;
  height: 100%;
}

.greeting {
  margin-top: 40vh;
}

.greethead,
.greetbody {
  color: black;
}

.greethead {
  font-size: 64px;
}

.greetbody {
  font-size: 32px;
}

.indindvdisplay {
  display: inline-flex;
  background-color:#1a1a1a;
  margin-left: 30px;
  overflow: auto;
  width: 90vw;
  border-radius: 10px;
  color:white;

}

.indvdimage {
  width: 20vw;
  height: auto;
  margin: 5vw;
  margin-bottom: 1vw;
}

.indvdfilmlist {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 70vw;
}

.indvdfilmbutton {
  margin-inline: 10px;
}

.indvdlabel {
  font-size: 32px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  margin-left:20px;
}

.parmoviecard {
  width: 400px;
  height: 500px;
  margin: 1rem auto;
  perspective: 1000px;
  cursor: pointer;
}

.parmoviecard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.parmoviecard {
  width: 150px;
  height: 210px;
  margin: 1rem auto;
  perspective: 1000px;
  cursor: pointer;
  font-size: 11px;
  margin-inline: 5px;


}


.parmovieimage {
  margin-top: 5px;
  width: 75px;
  border-radius: 8px;
  height: 125px;
  transition: 1s ease;
}

.parmovieimage:hover {
  width: 125px;
  height: 200px;
  transition: 1s ease;

}

.parmoviecard-front{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background: rgb(82, 81, 81);
  border: 1px solid #e5e7eb;
  overflow: auto;
  word-wrap: break-word;
  color:White;
  font-size:12px;
}


.actorlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.link {
  color: rgb(255, 255, 255);
}

.movieinfo {
  border-bottom: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.moviemeta {
  margin-top: 10%;
  width: 50%
}

.movieactorli {
  text-align: left;
  margin-right: 30px;
}


.errorpage{
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  font-size:64px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
:disabled {
  display:none;
}
.indvdmoviedesc{
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  border-bottom:solid 1px white;
  padding-bottom:5px;
}
.indvdmovieBB{
  font-size:24px;
}
.createactprev{

  display: inline-block;
  justify-content: center;
  max-width:30%;
  min-width:30%;
  flex-wrap:wrap;
  padding:10px;
  border:solid 1px black;
  margin-inline:20px;
  overflow-y:auto;
  height:40vh;
  background-color:grey;
}
.createactmovboxes{
  display:flex;
  justify-content:center;
  margin-top:2%;
  margin-bottom:2%;
  
}
.createactprevlist{
  margin-top:10px;
  
}

.createLabel{
  margin-right:1vw;
}

.formtexts{
  display:inline-flex;
  text-align: left;
}
.createform{
  color:white;
  background-color:#1a1a1a;
  max-width:80vw;
  margin-left:auto;
  margin-right:auto;
  border-radius:100px;
  padding:2%;
}
.createheader{
  font-size:24px;
  text-decoration: underline;
}
.createmovinp{
  width:100%;
}
.indvdbutton{
  height:auto;
  width:auto;
  margin:1vw;
}
